[project]
name = "{{ hyphenated }}"
version = "0.1.0a0"
description = "{{ description or "" }}"
readme = "README.md"
authors = [{name = "{{ author_name }}"}]
license = "Apache-2.0"
requires-python = ">=3.9"
classifiers = []
dependencies = [
    "click"
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"
{% if github_username %}
[project.urls]
Homepage = "https://github.com/{{ github_username }}/{{ hyphenated }}"
Changelog = "https://github.com/{{ github_username }}/{{ hyphenated }}/releases"
Issues = "https://github.com/{{ github_username }}/{{ hyphenated }}/issues"
CI = "https://github.com/{{ github_username }}/{{ hyphenated }}/actions"
{% endif %}
[project.scripts]
{{ hyphenated }} = "{{ underscored }}.cli:cli"

[dependency-groups]
dev = [
    "cogapp",
    "pytest",
    "ty",
    "ruff",
]


# see also: https://beta.ruff.rs/docs/configuration/#using-pyprojecttoml
[tool.ruff.lint]
select = [
    "E", "F", "I",
    # "D", turn off requiring docstrings
    "W", "PL", "B", "UP"
]

ignore = [
    "E501", # ignore line length violations
    "PLR2004" # ignore magic values, see also: https://docs.astral.sh/ruff/rules/magic-value-comparison/
]

[tool.ruff.lint.per-file-ignores]
"*__init__.py" = ["F401"] # ignore `E401` (unused import) in all `__init__.py` files

[tool.ruff.lint.pydocstyle]
convention = "google"
